/* Footer */

.url-footer {
    text-decoration: none;
}

.url-footer:hover {
    text-decoration: underline;
    color: rgb(5, 253, 5) !important;
}

.fs-7 {
    font-size: 0.8em;
}


/* Home */

.color {
    background-color: rgb(209 213 219);
     
}

/* Produces */
.produces-translate {
    overflow: hidden ;
    /* transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -o-transform: translateY(-200px); */
}

.img-hover .image {
    transition: 0.5s;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;


}

.produces-translate:hover .img-hover .image {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.produces-translate:hover .discount {
    color: rgb(7, 253, 7);
}

.btn-black {
    background: #000 !important;
    color: white !important;
    font-weight: bold !important;
    transition: 0.5s !important;
    -webkit-transition: 0.5s !important;
    -moz-transition: 0.5s !important;
    -ms-transition: 0.5s !important;
    -o-transition: 0.5s !important;
}

.btn-black:hover {
    background: rgb(3, 238, 3) !important;
    border-color: rgb(3, 238, 3) !important;
}

.discount {
    position: absolute;
    top: 5px;
    right: 10px;
    letter-spacing: 1px;
    font-weight: 400;
}

.favouritCard {
    position: absolute;
    top: 20%;
    right: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.produces-translate:hover .favouritCard {
    right: 10px;
}
.favouritCard span {
    padding: 5px;
    cursor: pointer;
}
.favouritCard span:hover {
    background: rgb(2, 246, 2);
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}
.shopping {
    border-bottom: 1px solid;
}

@media only screen and (max-width: 600px) {
    .produces-translate {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);

    }

    .favourit-center{
        text-align: center;
    }
.btn-favourit{
    width: 50% ;
}
}

/* crad */
.amount{
    top: 10px ;
    right: 20px;
    font-weight: bold;
}
.container-crad{
 border-radius: 10px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 -ms-border-radius: 10px;
 -o-border-radius: 10px;
}
.crad-quantity{
    box-shadow: 1px 1px 20px #9c9999;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.crad-quantity .icon{
    cursor: pointer;
    color: #000;
    font-size: 1.2em;
    font-weight: bold;

}
.remove:hover{
color: red;
cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .crad-mobile{
        flex-direction: column;
    }
}

